polars~=1.1.0
psutil~=6.0.0
enlighten~=1.12.4
pandas~=2.2.2
setuptools~=70.3.0
openpyxl~=3.1.4
tensorflow>=2.0.0
numpy~=1.26.4
gsw~=3.6.18
matplotlib~=3.9.1
statsmodels~=0.14.2
keras~=3.4.1
scikit-learn~=1.5.1
colorlog~=6.8.2
sphinx>=7.0.0
pydata-sphinx-theme>=0.15.4
